<div id="chapter">
<form>
<select name="chapter" ng-model="option" ng-change="changePg(option)">
	<option ng-repeat="x in chap" value="{{x.value}}">{{x.name}}</option>
</select>
</form>
</div>

<div id="section">
<form>
<select name="selection1" ng-model="optionSub" ng-change="changeSubPg(optionSub)">
	<option ng-repeat="x in chap1" value="{{x.value}}">{{x.name}}</option>
</select>
</form>
</div>

<div id="paragraph">
Long ago there was an evil that took control of Earth. King Zephion was the leader of the evil doers and he ruled Earth for many years before four warriors came and stopped them. The four warriors were not able to destroy King Zephion so they trapped him and his minions in a capsule where they wouldn't be able to escape. Many years have passed since then and the Earth has been safe from evil. It is the year 2020, and the Earth has just had a horrible earthquake which did a lot of danger to the planet as well as opening a capsule from long ago. King Zephion and his minions climb out of their prison that they've been in for many years and look upon the Earth. Denku, the guardian of the Earth, senses King Zephion presence on Earth and becomes frightened because the warriors that trapped him many years ago are not around anymore. Now Denku must find four new warriors with strong will power to handle the power needed to stop King Zephion....
</div>
