<div id="chapter">
<form>
<select name="hero" ng-model="option" ng-change="changePg(option)">
	<option ng-repeat="x in hero" value="{{x.value}}">{{x.name}}</option>
</select>
</form>
</div>


<div id="char2" align="left">
Click the image to enlarge the picture
<br><br>
<table>
<tr height="80"><td ><a href="#" ng-click="showPopup('../Images/miguel.jpg')"><img src="../Images/miguel2.jpg" height="100px" width="100px" /></a></td>
<td>
<b class="desc">Name:</b> Miguel
<br>
<b class="desc">Description:</b> The third oldest child. He's the second in command because of his power. He is the wielder of the Earth element. He's the second strongest of the children. His power is calm but destructive and his will to save his siblings makes his power grow.
</td></tr>
<tr><td ><a href="#" ng-click="showPopup('../Images/t-boom.jpg')"><img src="../Images/t-boom2.jpg" height="100px" width="100px" /></td>
<td>
<b class="desc">Name:</b> Resa
<br>
<b class="desc">Description:</b> She is the second oldest of the children. She controls the Wind element. Her power can combine with the other children's power to increase the power of the attack. She is strong on her own, but her power is more of a support power.
</td></tr>
<tr><td ><a href="#" ng-click="showPopup('../Images/snookie.jpg')"><img src="../Images/snookie2.jpg" height="100px" width="100px" /></td>
<td>
<b class="desc">Name:</b> Snook
<br>
<b class="desc">Description:</b> The youngest child born. Her power is the Water element. Though she is quiet, she can be quite the opponent. Even though she is young, her mental capacity is that of her older siblings which makes her powerful.
</td></tr>
<tr><td ><a href="#" ng-click="showPopup('../Images/tokan.jpg')"><img src="../Images/tokan2.jpg" height="100px" width="100px" /></td>
<td>
<b class="desc">Name:</b> Tokan
<br>
<b class="desc">Description:</b> The oldest of the children. He's the leader of the children. He is the wielder of the Fire element. He is probably the strongest of the children since his anger fuels his fire within. His desire to protect everyone at any cost can be helpful and destructive.
</td></tr>
</table>
</div>
